<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contact
             <small>Contact to Me</small> 
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
<!-- Mmenuap Column -->
<div class="col-md-12">
    <!-- Embedded Google Map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15071.205109230055!2d72.85744424999999!3d19.2038801!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1433237641351" width="100%" height="400px" frameborder="0" style="border:0"></iframe>
   <!--  <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe> -->
</div>
</div>
<!-- /.row -->

<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="row">
<div class="col-md-8">
    <h3>Send us a Message</h3>
    <%= form_for @contact, url: create_contact_path, html: {id: :contactForm}, remote: true do |form| %>
    <%= render partial: "shared/error_messages", locals: {error: @contact} %>
    <div id="error_messages"></div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Full Name:</label>
                <%= form.text_field :name, class: "form-control", required: true, placeholder: "Name", maxlength: 250 %>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Phone Number:</label>
                <%= form.text_field :contact, class: "form-control", required: false, placeholder: "Phone", maxlength: 13 %>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Email Address:</label>
                <%= form.text_field :email, class: "form-control", required: true, placeholder: "Email", maxlength: 250 %>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Message:</label>
                <%= form.text_area :message, class: "form-control", required: true, placeholder: "Message", maxlength: 500 %>
            </div>
        </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Send Message</button>
    <% end %>
</div>

<!-- Contact Details Column -->
<div class="col-md-4">
    <h3>Contact Details</h3>
    <p>
        3481 Melrose Place<br>Beverly Hills, CA 90210<br>
    </p>
    <p><i class="fa fa-phone"></i> 
        <abbr title="Phone">P</abbr>: (123) 456-7890</p>
    <p><i class="fa fa-envelope-o"></i> 
        <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com</a>
    </p>
    <p><i class="fa fa-clock-o"></i> 
        <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
    <ul class="list-unstyled list-inline list-social-icons">
        <li>
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
    </ul>
</div>

</div>
<!-- /.row -->