<div class="controls">
  <%= form.label :Title %>
  <%= form.text_field :title, class: "form-control", required: false, maxlength: 250 %>
</div>
<div class="controls">
  <%= form.label :Url %>
  <%= form.text_field :url, class: "form-control", required: false, maxlength: 250 %>
</div>
<div class="controls">
  <%= form.label :Tools %>        
  <%= form.text_field :tools, class: "form-control", placeholder: "Separate by semicolon(;) Like Ruby;MySQL;Jquery" %>
</div>
<div class="controls">
  <%= form.label :Description %>
  <%= form.text_area :description, class: "form-control" %>
</div>
<div class="controls">
  <%= form.label :Image %>
  <%= form.file_field :image, class: "form-control", required: false, maxlength: 250 %>
  <% if @portfolio.image.present? %>
    <%= cl_image_tag(@portfolio.image, width: "100", height: "100", crop: :fit, alt: @portfolio.title, title: @portfolio.title) %>
  <% end %>
</div>
<div class="controls">
  <br>
  <%= link_to :Back, administrator_portfolios_path, class: "btn btn-default" %>
  <%= buttons if (defined? buttons) %>
  <%= form.submit "Submit", class: "btn btn-primary" %>
</div>

