<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Solutions
            <small>All Solutions</small>
            <%= link_to "New", new_programmers_solution_path, class: "btn btn-xs btn-primary" if admin? %>
            <%= link_to :XLS, programmers_solutions_path({format: :xls}), class: "btn btn-xs btn-info" if admin? %>
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<div class="row">
  <% @solutions.each do |solution| %>
    <div class="col-md-4 text-center">    
        <div class="thumbnail">
        <a href="<%=programmers_solution_problems_path(solution) %>">
          <%= image_tag(solution.image, alt: solution.solution, class: "solutions-img-size") %>
        </a>
        <div class="caption">
          <h3>
            <a href="<%=programmers_solution_problems_path(solution) %>">
              <%= solution.solution %>
            </a>
          </h3>
          <p>
            <%=solution.description[0..200] %>
            <%= link_to "Edit", edit_programmers_solution_path(solution), class: "btn btn-info block" if admin? %>
          </p>
        </div>
        </div>      
    </div>
  <% end %>  
</div>
<!-- /.row -->