<div class="controls">
  <%= form.label :Title %>
  <%= form.text_field :title, class: "form-control", required: false, maxlength: 250 %>
</div>
<div class="controls">
  <br>
  <%= link_to :Back, administrator_apis_path, class: "btn btn-default" %>
  <%= buttons if (defined? buttons) %>
  <%= form.submit "Submit", class: "btn btn-primary" %>
</div>