<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Api
           <small>All Apis</small>
           <%= link_to :new, new_administrator_api_path, class: "btn btn-xs btn-primary" %>

           <%= link_to "Download XLS", administrator_apis_path(download: :true), class: "btn btn-xs btn-info" %>
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Content -->
<div class="row">
	<div class="table-responsive">
	  <table class="table table-bordered table-hover table-striped">
	      <thead>
	          <tr>
	              <th>Sr</th>
	              <th>Title</th>
	              <th>Actions</th>
	          </tr>
	      </thead>
	      <tbody>
	      <% if @apis.present? %>
	      <% counter = 0 %>
		      <% @apis.each do |api| %>
		          <tr>
		              <td><%= counter = counter + 1 %></td>
		              <td><%= api.title %></td>
		              <td>
		              	<%= link_to :view, administrator_api_path(api), class: "btn btn-xs btn-default" %>
		              	<%= link_to :edit, edit_administrator_api_path(api), class: "btn btn-xs btn-info" %>
		              	<%= link_to :delete, administrator_api_path(api), method: :delete, data: {confirm: "Are you sure!"}, class: "btn btn-xs btn-danger" %>
		              </td>            	              
		          </tr>
		      <% end %>
		    <% else %>
		    	<tr><td colspan="5" class="text-center">Data not found!</td></tr>  
	      <% end %>    	         
	      </tbody>
	  </table>
	</div>
</div>
<!-- /.row -->