<div class="row">
  <% if @books.present? %>
    <% @books.each do |book| %>
      <div class="col-md-4 text-center">    
          <div class="thumbnail">
          <a href="<%=studies_book_lessions_path(book) %>">
            <%= image_tag(imagewithpath(book.image), size: "700x400", alt: book.title, class: "img-responsive") %>
          </a>
          <div class="caption">
            <h3>
              <a href="<%=studies_book_lessions_path(book) %>">
                <%= book.title %>
              </a>
            </h3>
            <p><%=book.description %></p>
          </div>
          </div>      
      </div>
    <% end %>
  <% else %>
    <%#= render partial: "shared/not_found", locals: {title: :book} %>
  <% end %>  
</div>