<div class="controls">
  <%= form.label :Title %>
  <%= form.text_field :title, class: "form-control", required: false, maxlength: 250 %>
</div>
<div class="controls">
  <%= form.label :Description %>
  <%= form.text_area :description, class: "form-control" %>
</div>
<div class="controls">
  <%= form.label :Image %>
  <%= form.file_field :image, class: "form-control", required: false, maxlength: 250 %>
  <% if @book.image.present? %>
    <%= cl_image_tag(@book.image, width: "25", height: "25", crop: :fit) %>
  <% end %>
</div>
<div class="controls">
  <br>
  <%= link_to :Back, studies_books_path, class: "btn btn-default" %>
  <%= buttons if (defined? buttons) %>
  <%= form.submit "Submit", class: "btn btn-primary" %>
</div>

