<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           About Me
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
	<div class="col-sm-7">
	<h3>Employment</h3>
	<% @employments.each do |employment| %>
	<h5><%= employment.role %> - <%= employment.company %>(<%= employment.joined_at.strftime("%b %Y") %> - <%= employment.leaved_at.strftime("%b %Y") %>)</h5>
	<%= employment.description %>
	<% end %>
	<hr>

	<h3>Education</h3>
    <% @educations.each do |education|  %>
	<h5><%= education.title.upcase %> - PursuingI(<%= education.school %> <%= education.completed_at.strftime("%b %Y") %>)</h5>
	<%= education.description %>
	<% end %>
	</div>


	<div class="col-sm-5">
	<h3>Web Development</h3>
	<% @developments.each do |development| %>       
		<div><%= development.title %></div>
	<% end %>


	<h3>Mobile Development</h3>   
	<div>Android [Application Development]</div>
	<div>Python [Monkeyrunner Script]</div> 

	<h3>Web Technologies</h3>   
	<% @technologies.each do |technology| %>       
		<div><%= technology.title %></div>
	<% end %> 


	<h3>APIS</h3> 
	<% @apis.each do |api| %>       
		<div><%= api.title %></div>
	<% end %>

	<h3>Other Technologies</h3> 
	<div>Sublime Text Editor</div>  
	<div>Dreamweaver Editor</div>
	</div>
</div>

<hr class="ng-scope">

<div class="row ng-scope">
	<div class="col-sm-12">
		<div class="col-sm-6">		
			<h3>Testimonials</h3>
		</div>
		
	</div>

	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
				<% if @profile.present? %>
					<%= image_tag @profile.image.url, size: "50x50" %>
				<% else %>
					<%= image_tag default_image, size: "50x50" %>
				<% end %>	
				</div>
				<div class="col-sm-8">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
					<h5><i>Er. Sandeep Maurya</i></h5>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<% if @profile.present? %>
					<%= image_tag @profile.image.url, size: "50x50" %>
					<% else %>
						<%= image_tag default_image, size: "50x50" %>
					<% end %>
				</div>
				<div class="col-sm-8">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
					<h5><i>Er. Sandeep Maurya</i></h5>
				</div>
			</div>
		</div>
	</div>
</div>
